

.footer h6{
    font-size: 10px;
}

.footer ul{
    list-style-type: none;
}

.footer ul li{
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 1rem;
}

.footer ul li a{
    color: aliceblue;
    text-decoration: none;
}